#!/usr/bin/env bash

alias c="clear"
alias myip="curl http://ipecho.net/plain; echo"

alias s="source ~/.zshrc"

# some more ls aliases
alias l='exa -lah'
alias ls=exa
alias sl=exa

alias grep='rg'
alias find='fd'
# alias hs="gum filter < $HISTFILE --height 20 | sed 's/.*;//g' | pbcopy"
alias hs="tac $HISTFILE | gum filter | sed 's/.*;//g' | pbcopy"

alias tt='python3 ~/dotfiles/tmux-session.py'

alias v='nvim'
alias tx='tmuxinator'
alias datetime='date "+%Y-%m-%d %H:%M:%S"'

alias jj='pbpaste | jsonpp | pbcopy'
alias rm=trash

function take {
    mkdir -p $1
    cd $1
}

note() {
    echo "date: $(date)" >> $HOME/drafts.txt
    echo "$@" >> $HOME/drafts.txt
    echo "" >> $HOME/drafts.txt
}

dclear () {
    docker ps -a -q | xargs docker kill -f
    docker ps -a -q | xargs docker rm -f
    docker images | grep "api\|none" | awk '{print $3}' | xargs docker rmi -f
    docker volume prune -f
}

breset () {
    git fetch origin
    git reset --hard origin/$(git_main_branch)
    git clean -xdf
}

# Git

alias g='git'
alias ga='git add'
alias gaa='git add -A'
alias gap='git add -p'

alias gb='git branch'
alias gba='git branch -a'
alias gbd='git branch -D'
alias gbr='git branch -m'

alias gco='git checkout'

alias gc='git commit -v'
alias gca='git commit -v -a'

alias gc='git clone'
alias gcw='git clone-worktree'

alias gl='git pull'
alias glr='git pull --rebase'
alias glrom='git pull --rebase origin $(git_main_branch)'

alias gp='git push'
alias gpf='git push --force'
alias gpsuo='git push -u origin $(git_current_branch)'

alias gr='git rebase'
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias gro='git rebase --onto'
alias grs='git rebase --skip'
alias grom='git rebase origin/$(git_main_branch)'

alias gf='git fetch'

alias gs='git switch'

alias gst='git status || exa'