#!/usr/bin/env bash
export PATH="$HOME/bin:$PATH";
export PATH="/usr/local/bin:$PATH"

# Homebrew
export PATH="/opt/homebrew/bin:$PATH"

# Make vim the default editor.
export EDITOR=nvim
export VISUAL=nvim

export HISTORY_IGNORE="(ls|cd|pwd|exit|sudo reboot|history|cd -|cd ..)"

# Path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh
export ZSH_THEME="powerlevel10k/powerlevel10k"
# typeset -g POWERLEVEL9K_PROMPT_CHAR_BACKGROUND=

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;

# Path
export PATH=$HOME/bin:/usr/local/bin:$PATH
export PATH="$PATH:$HOME/go/bin/"
export PATH="$PATH:$HOME/.local/bin/"
export PATH="/opt/homebrew/opt/llvm/bin:$PATH"

export PATH="/opt/homebrew/opt/openssl@3/bin:$PATH"
export PATH="/opt/homebrew/opt/tcl-tk/bin:$PATH"
export PATH="/opt/homebrew/opt/sqlite/bin:$PATH"

# Pyenv
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
